/*
24 Selector Types
https://www.w3schools.com/cssref/css_selectors.asp
*/

/* Universal */
* { font-family: 'Courier New', Courier, monospace; }

/* Type */
body { background-color: black; }

/* Grouping */
div, h1, h2, h3, p, li { color: white; }

/* Class */
.header { flex: 50%; }

/* ID */
#w3c-link { text-decoration: underline; }

/* Descendant */
p a { color: lightgray; }

/* Child */
ul>li:nth-child(even) { font-weight: bold; }

/* Adjacent Sibling */
h3 + ul { list-style: square; }

/* General Sibling */
h2 ~ h3 { font-family: Arial, Helvetica, sans-serif; }

/* Attribute */
a[href^="https"] { font-weight: bold; }